/*reset*/
*{margin: 0;padding: 0;}
html,body{width: 3.75rem}


/*weui*/
.weui-dialog__hd{height: 30px;font-size: 20px!important;}
.weui-dialog__title{line-height: 20px;font-size: inherit;height: 20px;}
.weui-dialog__bd{text-align: left!important;}
/*.weui-btn{width: 0.6rem;height: 0.25rem;font-size: 0.12rem;line-height: 0.25rem}*/